<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}', customText: {
        headerText: 'Give Bob Tappa',
        inputPlaceholder: 'Bob Bob?',
        sendButtonText: 'checked',
    } });
    </script>
</head>
<body>
    <h2>Bob wants Tappa</h2>
    <br/>
    <p>Chat check</p>
</body>
</html>
